<style>
*{
        margin: 0;
        padding: 0;
        font-family: cursive;
}
.text-effects
{
    margin-top: 50px;
  
    color: darkblue;
   text-shadow: 2px 4px 2px gray;
   font-size: 32px ;
   font-family: cursive;
    

}
.text-effects: hover{
    width: 100px ;
    height: 100px;
    transform: rotate(360deg);
    transition: transform;
    

}


.container {
  position: relative;
  width: 1160px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: auto;
  margin-bottom: 100px;
  padding-bottom: 100px;
}
.container .box {
  position: relative;
  width: 275px;
  height: 275px;
  background: #000;
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-right: 15px;
  margin-top: 45px;
}
.container:hover .box {
  transform: rotateY(25deg);
}
.container .box:hover ~ .box {
  transform: rotateY(-25deg);
}
.container .box:hover {
  transform: rotateY(0deg) scale(1.25);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0,0,0,0.5);
}
.container .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .box .imgBx:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,#f00,#000);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}
.container .box:hover .imgBx:before {
  opacity: 1;
}
.container .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
  box-sizing: border-box;
}
.container .box .content h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(200px);
  transition-delay: 0.3s;
}
.container .box:hover .content h2 {
  transform: translateY(0px);
}
.container .box .content p {
  color: #fff;
  transition: 0.5s;
  font-size: 14px;
  transform: translateY(200px);
  transition-delay: 0.4s;
}
.container .box:hover .content p {
  transform: translateY(0px);
}
footer{
    font-style: oblique;
    border-radius: 20px;
    margin-right: 0px;
    margin-left: 0px;
margin-top: 50px;
    position: relative;
    background: dimgray;
    color: whitesmoke;

    font-family: sans-serif;
    
}
#footer{

    padding-right: 300px;
    padding-left: 100px;

}
.texts{
     color: lightseagreen;
   text-shadow: 2px 4px 2px gray;
   font-size: 32px ;
   font-family: cursive;

}
.navbar{
    padding-top:100px ;
    margin-top: 100px;
    padding-left: 0;
    color: whitesmoke;
    background: gray;
    text-align: center;
}
.nav-alignment{
    justify-content: center;
    
}
.pop{
    width: 50px; height: 50px;
    color: whitesmoke;
    background: gray;
    transition-property: all;
    transition-duration:2s ;
    transition-timing-function: linear;
   
}
.pop:hover{
    transform: scale(2,2);
}
</style>